<!-- app/templates/accounts.html -->
{% extends "base.html" %}

{% block title %}Accounts Overview{% endblock %}

{% block content %}
<h1>Accounts Overview</h1>
<h2>Tenant Accounts</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Balance</th>
    </tr>
    {% for account in tenant_accounts %}
    <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.balance }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Landlord Accounts</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Balance</th>
    </tr>
    {% for account in landlord_accounts %}
    <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.balance }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Agency Accounts</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Balance</th>
    </tr>
    {% for account in agency_accounts %}
    <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.balance }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}