{% extends "base.html" %}

{% block title %}Edit Property{% endblock %}

{% block content %}
<h1 class="mt-4">Edit Property: {{ property.address_line_1 }}, {{ property.town }}, {{ property.postcode }}</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.address_line_1.label(class="form-label") }}
        {{ form.address_line_1(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.town.label(class="form-label") }}
        {{ form.town(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.postcode.label(class="form-label") }}
        {{ form.postcode(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.rent_amount.label }}
        {{ form.rent_amount(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.landlord_portion.label }}
        {{ form.landlord_portion(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.utility_account_id.label }}
        {{ form.utility_account_id(class="form-control") }}
    </div>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% endblock %}