<!-- app/templates/generate_rent_charges.html -->
{% extends "base.html" %}

{% block title %}Generate Rent Charges{% endblock %}

{% block content %}
<h1 class="mt-4">Generate Monthly Rent Charges</h1>
<form method="post" class="form">
    <div class="form-group">
        <label for="charge_date">Charge Date:</label>
        <input type="date" name="charge_date" id="charge_date" class="form-control" value="{{ charge_date.strftime('%Y-%m-%d') }}">
    </div>
    <input type="submit" value="Generate" class="btn btn-primary">
</form>
{% endblock %}